.HomePage {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 130px;
    background-color: rgba(43, 83, 117, 0.466);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .TweetInput {
    caret-color: rgb(180, 88, 145);
    width: 100%;
    border:80px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    resize: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .TweetButton {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #1d21f2;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .TweetList {
    list-style: none;
    padding: 0;
  }
  
  .TweetList li {
    padding: 10px;
    border-radius: 10px;
    background-color: #f6f8fa;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #0d0e1a;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2b7bc5;
    transition: .5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #4dbbd6;
    transition: .4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }